.transit-button {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.transit-button img {
    width: 40px;
    height: 40px;
}
.transit-button.active {
    transform: scale(1.10)
}
.transit-button:hover {
    background-color:aliceblue
}